<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.bundle.css">
</head>
<body>
    <header>
        <div class="top-promo">
            <h5>С 01.03.2018 по 16.03.2018 скидки 10% на все игровы мыши gitech</h1>
        </div>
        <div class="navbar">
            <div class="brand-logo">
                <a href=""><img src="img/cyberspace-logo.png" alt="cyberspace-logo"></a>
            </div>
            <div class="store-location">
                <h6>Москва и подмосковье</h6>
                <h6>Доставка 2 дня</h6>
                <h6><a href="#">Наш магазин</a></h6>
            </div>
            <div class="sale-options">
                <a href="#">гарантия и возврат</a>
                <a href="#">как купить</a>
                <a href="#">доставка</a>
            </div>
            <div class="phone-callback">
                <a href="#">+7 (495) 123-45-67</a>
                <a href="#">Обратный звонок</a>
            </div>
            <div class="basket">
                <img src="img/basket-icon" alt="basket-icon">
                <a href="#">Корзина</a>
            </div>
            <div class="account-info">
                <a href="#">Александр Е.</a>
                <p>Баланс на счету: <span>4590 руб.</span></p>
            </div>
        </div>
        <div class="nav">
            <ul>
                <li>Каталог</li>
                <li>Компьютеры</li>
                <li>Комплектуещие</li>
                <li>Мониторы</li>
                <li>Акссесуары</li>
                <li>Игровая мебель</li>
                <li>Подарки и сувениры</li>
                <li><i>serch</i> Поиск</li>
            </ul>
        </div>
    </header>
    <div class="jumbo">
        <div class="slider">
            <div class="slider-image">
                <img src="/img/headset.png" alt="headset">
            </div>
            <div class="description">
                <p>Только с 1 по 19 марта</p>
                <h1>С новой выгодой!</h1>
                <p>Премиальные наушники <br> Razer в подарок!</p>
            </div>
        </div>
        <div class="jumbo-promo">
            <div class="jumbo-discount">
                <h2>скидки</h2>
                <h3>и дисконтные карты</h3>
            </div>
            <div class="jumbo-gifts">
                <h2>подарки</h2>
                <h3>и дисконтные карты</h3>
            </div>
        </div>
    </div>

    <div class="recommended container">
        <h2>Рекомендуемые товары</h2>
        <div class="items">
            <div class="item-card">
                <div>
                    <p class="discount-bage">-10%</p>
                    <img src="/img/gtx1080.png" alt="">
                </div>
                <div class="item-description">
                    <p>GeForce GTX 1080 Ti  Gaming X 11GB GDDR5X (352bit)</p> 
                </div>
                <div class="stars flex-row">
                    <div>
                        <h6>Рейтинг товара:</h6>
                        <span>*****</span>
                    </div>
                    <div>
                        <h6>отзывы:</h6>
                        <span>(27)</span>
                    </div>
                </div>
                <div class="price flex-row">
                    <div>
                        <p>9500</p>
                        <p>7999</p>
                        <p>1500</p>
                        <p>Экономия</p>
                    </div>
                    <div>
                        <a href="">Добавить в корзину</a>
                        <a href="">Подробнее о товаре</a>
                    </div>
                </div>
            </div>
            <div class="item-card">
                <div>
                    <p class="discount-bage">-10%</p>
                    <img src="/img/gtx1080.png" alt="">
                </div>
                <div class="item-description">
                    <p>GeForce GTX 1080 Ti  Gaming X 11GB GDDR5X (352bit)</p> 
                </div>
                <div class="stars flex-row">
                    <div>
                        <h6>Рейтинг товара:</h6>
                        <span>*****</span>
                    </div>
                    <div>
                        <h6>отзывы:</h6>
                        <span>(27)</span>
                    </div>
                </div>
                <div class="price flex-row">
                    <div>
                        <p>9500</p>
                        <p>7999</p>
                        <p>1500</p>
                        <p>Экономия</p>
                    </div>
                    <div>
                        <a href="">Добавить в корзину</a>
                        <a href="">Подробнее о товаре</a>
                    </div>
                </div>
            </div>
            <div class="item-card">
                <div>
                    <p class="discount-bage">-10%</p>
                    <img src="/img/gtx1080.png" alt="">
                </div>
                <div class="item-description">
                    <p>GeForce GTX 1080 Ti  Gaming X 11GB GDDR5X (352bit)</p> 
                </div>
                <div class="stars flex-row">
                    <div>
                        <h6>Рейтинг товара:</h6>
                        <span>*****</span>
                    </div>
                    <div>
                        <h6>отзывы:</h6>
                        <span>(27)</span>
                    </div>
                </div>
                <div class="price flex-row">
                    <div>
                        <p>9500</p>
                        <p>7999</p>
                        <p>1500</p>
                        <p>Экономия</p>
                    </div>
                    <div>
                        <a href="">Добавить в корзину</a>
                        <a href="">Подробнее о товаре</a>
                    </div>
                </div>
            </div>
            <div class="item-card">
                <div>
                    <p class="discount-bage">-10%</p>
                    <img src="/img/gtx1080.png" alt="">
                </div>
                <div class="item-description">
                    <p>GeForce GTX 1080 Ti  Gaming X 11GB GDDR5X (352bit)</p> 
                </div>
                <div class="stars flex-row">
                    <div>
                        <h6>Рейтинг товара:</h6>
                        <span>*****</span>
                    </div>
                    <div>
                        <h6>отзывы:</h6>
                        <span>(27)</span>
                    </div>
                </div>
                <div class="price flex-row">
                    <div>
                        <p>9500</p>
                        <p>7999</p>
                        <p>1500</p>
                        <p>Экономия</p>
                    </div>
                    <div>
                        <a href="">Добавить в корзину</a>
                        <a href="">Подробнее о товаре</a>
                    </div>
                </div>
            </div>
            <div class="item-card">
                <div>
                    <p class="discount-bage">-10%</p>
                    <img src="/img/gtx1080.png" alt="">
                </div>
                <div class="item-description">
                    <p>GeForce GTX 1080 Ti  Gaming X 11GB GDDR5X (352bit)</p> 
                </div>
                <div class="stars flex-row">
                    <div>
                        <h6>Рейтинг товара:</h6>
                        <span>*****</span>
                    </div>
                    <div>
                        <h6>отзывы:</h6>
                        <span>(27)</span>
                    </div>
                </div>
                <div class="price flex-row">
                    <div>
                        <p>9500</p>
                        <p>7999</p>
                        <p>1500</p>
                        <p>Экономия</p>
                    </div>
                    <div>
                        <a href="">Добавить в корзину</a>
                        <a href="">Подробнее о товаре</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="partners container">
        <h2>официальный партнер</h2>
        <div class="partners-slider flex-row">
            <div class="partner-logo">
                <img src="/img/partner-logo-1.png" alt="">
            </div>
            <div class="partner-logo">
                <img src="/img/partner-logo-1.png" alt="">
            </div>
            <div class="partner-logo">
                <img src="/img/partner-logo-1.png" alt="">
            </div>
            <div class="partner-logo">
                <img src="/img/partner-logo-1.png" alt="">
            </div>
            <div class="partner-logo">
                <img src="/img/partner-logo-1.png" alt="">
            </div>
        </div>
    </div>

    <div class="recommended container">
        <h2>Рекомендуемые товары</h2>
        <div class="items">
            <div class="item-card">
                <div>
                    <p class="discount-bage">-10%</p>
                    <img src="/img/gtx1080.png" alt="">
                </div>
                <div class="item-description">
                    <p>GeForce GTX 1080 Ti  Gaming X 11GB GDDR5X (352bit)</p> 
                </div>
                <div class="stars flex-row">
                    <div>
                        <h6>Рейтинг товара:</h6>
                        <span>*****</span>
                    </div>
                    <div>
                        <h6>отзывы:</h6>
                        <span>(27)</span>
                    </div>
                </div>
                <div class="price flex-row">
                    <div>
                        <p>9500</p>
                        <p>7999</p>
                        <p>1500</p>
                        <p>Экономия</p>
                    </div>
                    <div>
                        <a href="">Добавить в корзину</a>
                        <a href="">Подробнее о товаре</a>
                    </div>
                </div>
            </div>
            <div class="item-card">
                <div>
                    <p class="discount-bage">-10%</p>
                    <img src="/img/gtx1080.png" alt="">
                </div>
                <div class="item-description">
                    <p>GeForce GTX 1080 Ti  Gaming X 11GB GDDR5X (352bit)</p> 
                </div>
                <div class="stars flex-row">
                    <div>
                        <h6>Рейтинг товара:</h6>
                        <span>*****</span>
                    </div>
                    <div>
                        <h6>отзывы:</h6>
                        <span>(27)</span>
                    </div>
                </div>
                <div class="price flex-row">
                    <div>
                        <p>9500</p>
                        <p>7999</p>
                        <p>1500</p>
                        <p>Экономия</p>
                    </div>
                    <div>
                        <a href="">Добавить в корзину</a>
                        <a href="">Подробнее о товаре</a>
                    </div>
                </div>
            </div>
            <div class="item-card">
                <div>
                    <p class="discount-bage">-10%</p>
                    <img src="/img/gtx1080.png" alt="">
                </div>
                <div class="item-description">
                    <p>GeForce GTX 1080 Ti  Gaming X 11GB GDDR5X (352bit)</p> 
                </div>
                <div class="stars flex-row">
                    <div>
                        <h6>Рейтинг товара:</h6>
                        <span>*****</span>
                    </div>
                    <div>
                        <h6>отзывы:</h6>
                        <span>(27)</span>
                    </div>
                </div>
                <div class="price flex-row">
                    <div>
                        <p>9500</p>
                        <p>7999</p>
                        <p>1500</p>
                        <p>Экономия</p>
                    </div>
                    <div>
                        <a href="">Добавить в корзину</a>
                        <a href="">Подробнее о товаре</a>
                    </div>
                </div>
            </div>
            <div class="item-card">
                <div>
                    <p class="discount-bage">-10%</p>
                    <img src="/img/gtx1080.png" alt="">
                </div>
                <div class="item-description">
                    <p>GeForce GTX 1080 Ti  Gaming X 11GB GDDR5X (352bit)</p> 
                </div>
                <div class="stars flex-row">
                    <div>
                        <h6>Рейтинг товара:</h6>
                        <span>*****</span>
                    </div>
                    <div>
                        <h6>отзывы:</h6>
                        <span>(27)</span>
                    </div>
                </div>
                <div class="price flex-row">
                    <div>
                        <p>9500</p>
                        <p>7999</p>
                        <p>1500</p>
                        <p>Экономия</p>
                    </div>
                    <div>
                        <a href="">Добавить в корзину</a>
                        <a href="">Подробнее о товаре</a>
                    </div>
                </div>
            </div>
            <div class="item-card">
                <div>
                    <p class="discount-bage">-10%</p>
                    <img src="/img/gtx1080.png" alt="">
                </div>
                <div class="item-description">
                    <p>GeForce GTX 1080 Ti  Gaming X 11GB GDDR5X (352bit)</p> 
                </div>
                <div class="stars flex-row">
                    <div>
                        <h6>Рейтинг товара:</h6>
                        <span>*****</span>
                    </div>
                    <div>
                        <h6>отзывы:</h6>
                        <span>(27)</span>
                    </div>
                </div>
                <div class="price flex-row">
                    <div>
                        <p>9500</p>
                        <p>7999</p>
                        <p>1500</p>
                        <p>Экономия</p>
                    </div>
                    <div>
                        <a href="">Добавить в корзину</a>
                        <a href="">Подробнее о товаре</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="promotions container">
        <h2>Акции</h2>
        <div class="flex-row">
            <div class="promo-1 flex-column">
                <img src="/img/promo-1.png" alt=""> 
                <h6>Рейтинг товара:</h6>
                <span>*****</span>
                <p>GeForce GTX 1080 Ti  Gaming X 11GB GDDR5X (352bit)</p> 
            </div>
            <div class="flex-column">
                <div class="promo-2 flex-row">
                    <h6>Рейтинг товара:</h6>
                    <span>*****</span>
                    <p>GeForce GTX 1080 Ti  Gaming X 11GB GDDR5X (352bit)</p>
                    <img src="/img/promo-2.png" alt=""> 
                </div>
                <div class="promo-3 flex-row">
                    <h6>Рейтинг товара:</h6>
                    <span>*****</span>
                    <p>GeForce GTX 1080 Ti  Gaming X 11GB GDDR5X (352bit)</p>
                    <img src="/img/promo-3.png" alt=""> 
                </div>
            </div>
            <div class="promo-4 flex-column">
                <img src="/img/promo-4.png" alt=""> 
                <h6>Рейтинг товара:</h6>
                <span>*****</span>
                <p>GeForce GTX 1080 Ti  Gaming X 11GB GDDR5X (352bit)</p> 
            </div>
        </div>
    </div>

    <div class="recommended container">
        <h2>Рекомендуемые товары</h2>
        <div class="items">
            <div class="item-card">
                <div>
                    <p class="discount-bage">-10%</p>
                    <img src="/img/gtx1080.png" alt="">
                </div>
                <div class="item-description">
                    <p>GeForce GTX 1080 Ti  Gaming X 11GB GDDR5X (352bit)</p> 
                </div>
                <div class="stars flex-row">
                    <div>
                        <h6>Рейтинг товара:</h6>
                        <span>*****</span>
                    </div>
                    <div>
                        <h6>отзывы:</h6>
                        <span>(27)</span>
                    </div>
                </div>
                <div class="price flex-row">
                    <div>
                        <p>9500</p>
                        <p>7999</p>
                        <p>1500</p>
                        <p>Экономия</p>
                    </div>
                    <div>
                        <a href="">Добавить в корзину</a>
                        <a href="">Подробнее о товаре</a>
                    </div>
                </div>
            </div>
            <div class="item-card">
                <div>
                    <p class="discount-bage">-10%</p>
                    <img src="/img/gtx1080.png" alt="">
                </div>
                <div class="item-description">
                    <p>GeForce GTX 1080 Ti  Gaming X 11GB GDDR5X (352bit)</p> 
                </div>
                <div class="stars flex-row">
                    <div>
                        <h6>Рейтинг товара:</h6>
                        <span>*****</span>
                    </div>
                    <div>
                        <h6>отзывы:</h6>
                        <span>(27)</span>
                    </div>
                </div>
                <div class="price flex-row">
                    <div>
                        <p>9500</p>
                        <p>7999</p>
                        <p>1500</p>
                        <p>Экономия</p>
                    </div>
                    <div>
                        <a href="">Добавить в корзину</a>
                        <a href="">Подробнее о товаре</a>
                    </div>
                </div>
            </div>
            <div class="item-card">
                <div>
                    <p class="discount-bage">-10%</p>
                    <img src="/img/gtx1080.png" alt="">
                </div>
                <div class="item-description">
                    <p>GeForce GTX 1080 Ti  Gaming X 11GB GDDR5X (352bit)</p> 
                </div>
                <div class="stars flex-row">
                    <div>
                        <h6>Рейтинг товара:</h6>
                        <span>*****</span>
                    </div>
                    <div>
                        <h6>отзывы:</h6>
                        <span>(27)</span>
                    </div>
                </div>
                <div class="price flex-row">
                    <div>
                        <p>9500</p>
                        <p>7999</p>
                        <p>1500</p>
                        <p>Экономия</p>
                    </div>
                    <div>
                        <a href="">Добавить в корзину</a>
                        <a href="">Подробнее о товаре</a>
                    </div>
                </div>
            </div>
            <div class="item-card">
                <div>
                    <p class="discount-bage">-10%</p>
                    <img src="/img/gtx1080.png" alt="">
                </div>
                <div class="item-description">
                    <p>GeForce GTX 1080 Ti  Gaming X 11GB GDDR5X (352bit)</p> 
                </div>
                <div class="stars flex-row">
                    <div>
                        <h6>Рейтинг товара:</h6>
                        <span>*****</span>
                    </div>
                    <div>
                        <h6>отзывы:</h6>
                        <span>(27)</span>
                    </div>
                </div>
                <div class="price flex-row">
                    <div>
                        <p>9500</p>
                        <p>7999</p>
                        <p>1500</p>
                        <p>Экономия</p>
                    </div>
                    <div>
                        <a href="">Добавить в корзину</a>
                        <a href="">Подробнее о товаре</a>
                    </div>
                </div>
            </div>
            <div class="item-card">
                <div>
                    <p class="discount-bage">-10%</p>
                    <img src="/img/gtx1080.png" alt="">
                </div>
                <div class="item-description">
                    <p>GeForce GTX 1080 Ti  Gaming X 11GB GDDR5X (352bit)</p> 
                </div>
                <div class="stars flex-row">
                    <div>
                        <h6>Рейтинг товара:</h6>
                        <span>*****</span>
                    </div>
                    <div>
                        <h6>отзывы:</h6>
                        <span>(27)</span>
                    </div>
                </div>
                <div class="price flex-row">
                    <div>
                        <p>9500</p>
                        <p>7999</p>
                        <p>1500</p>
                        <p>Экономия</p>
                    </div>
                    <div>
                        <a href="">Добавить в корзину</a>
                        <a href="">Подробнее о товаре</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="news-reviews container">
        <h3>Обзоры товаров</h3>
        <div class="news flex-row">
            <div class="news-card">
                <img src="/img/news-image-1.png" alt="">
                <div class="news-description">
                    <h4>Ethernal Неделя карточных игр в CyberSpace</h4>
                    <p><span>03.03.2018</span><a href="">Читать дальше</a></p>
                </div>
            </div>
            <div class="news-card">
                <img src="/img/news-image-2.png" alt="">
                <div class="news-description">
                    <h4>Ethernal Неделя карточных игр в CyberSpace</h4>
                    <p><span>03.03.2018</span><a href="">Читать дальше</a></p>
                </div>
            </div>
            <div class="news-card">
                <img src="/img/news-image-3.png" alt="">
                <div class="news-description">
                    <h4>Ethernal Неделя карточных игр в CyberSpace</h4>
                    <p><span>03.03.2018</span><a href="">Читать дальше</a></p>
                </div>
            </div>
            <div class="news-card">
                <img src="/img/news-image-4.png" alt="">
                <div class="news-description">
                    <h4>Ethernal Неделя карточных игр в CyberSpace</h4>
                    <p><span>03.03.2018</span><a href="">Читать дальше</a></p>
                </div>
            </div>
            <div class="news-card">
                <img src="/img/news-image-5.png" alt="">
                <div class="news-description">
                    <h4>Ethernal Неделя карточных игр в CyberSpace</h4>
                    <p><span>03.03.2018</span><a href="">Читать дальше</a></p>
                </div>
            </div>
        </div>
        <a href="#" class="news-button">Показать все обзоры</a>
    </div>

    <div class="our-shops container">
        <h2>наши магазины</h2>
        <div class="shops flex-row">
            <div class="shop">
                <img src="/img/shop-1.png" alt="shop-1">
            </div>
            <div class="shop">
                <img src="/img/shop-2.png" alt="shop-1">
            </div>
            <div class="shop">
                <img src="/img/shop-3.png" alt="shop-1">
            </div>
            <div class="shop time-location">
                <div class="worktime">
                    <i>icon</i>
                    <p>Время работы <br> С 10:00 до 22:00</p>
                </div>
                <div class="shoplocation">
                    <i>icon</i>
                    <p>Время работы <br> С 10:00 до 22:00</p>
                </div>
            </div>
        </div>
    </div>
    <footer>

    </footer>
</body>
</html>