@import "normalize.scss";
@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('/fonts/ProximaNova-Regular.eot');
    src: url('/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/ProximaNova-Regular.woff') format('woff'),
    url('/fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('/fonts/ProximaNova-Bold.eot');
    src: url('/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/ProximaNova-Bold.woff') format('woff'),
    url('/fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 1em;
    background: #f3f3f6;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
li {
    list-style: none;
}
.container {
    max-width: 1388px;
    padding: 50px 15px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.top-promo {
    max-width: 1388px;
    margin: 0 auto;
    padding: 13px 0;
    background: url("../img/top-promo-mouse.png")  no-repeat;
    background-size: 100% 100%;
    text-align: center;
    p {
        padding-left: 50px;
        color: gray;
        font-size: 1.3rem;    
        span{
            font-family: "Proxima Nova Bold";
            color: rgb(0, 110, 255);
        }
        .pink {
            color: rgb(255, 0, 200);
        }
    }
}

.navbar {
    background-color: #150942;
    color: #ffffff;
    line-height: 1.5em;
    .navbar-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        padding: 15px 0 15px 20px;
        margin: 0 auto;
        max-width: 1405px;
    }
    a {
        color: #fff;
        display: block;
    }
    .brand-logo {
        flex: 2;
    }
    
    .store-location {
        flex: 2;
        display: flex;
        span {
            margin-right: 5px;
        }
    }
    
    .sale-options {
        flex: 1.5;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
        a {
            text-decoration-color: #504771;
            font-size: 80%;
        }
    }
    
    .phone-callback {
        flex: 2.5;
        text-align: center;
        align-self: center;
        .phone {
            font-size: 120%;
            text-decoration: none;
            font-weight: bold;
        }
        .callback {
            color: #c0e1f9;
        }
    }
    
    .basket {
        flex: 1.5;
        z-index: 2;
        display: flex;
        align-self: flex-end;
        a {
            color: #c0e1f9;
            text-decoration: none;
        }
        .items-count {
            height: 20px;
            width: 20px;
            background: rgb(255, 0, 200);
            color: #fff;
            border-radius: 50%; 
            line-height: 1.2;
            z-index: -1;
            text-align: center;
            position: relative;
            right: 30px;
            top: -8px;
        }
    }
    
    .account-info {
        flex: 2.5;
        color: #c0e1f9;
        justify-self: flex-end;
        a {
            text-decoration: none;
        }
        span {
            color: #fff;
        }
    }
}

.nav {
    background: #1b1d61;
    color: #fefefe;
    box-shadow: 0px 6px 5px -1px rgba(168,168,168,1);
    .nav-container {
        max-width: 1420px;
        margin: 0 auto;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        a {
            text-decoration: none;
            color: #fff;
            font-family: "Proxima Nova Bold", sans-serif;
        }
        .menu-item {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: auto;
            border-right: 1px solid;
            border-image: linear-gradient(to bottom, #000, #7942D5, #000) 1 100%;

        }
        .menu-item:nth-child(7) {
            border-right: none;
        }

        .menu-item:hover, .active-link {
            background: linear-gradient(#fa3579, #f24a3d);
        }
        .menu-item:last-child {
            border-right: none;
            background: #045aae;
            font-style: italic;
            font-family: "Proxima Nova Regular", sans-serif;
            font-weight: normal;
            background-image: url("../img/search-icon.png");
            background-repeat: no-repeat;
            background-position: 15px 50%;
            width: 85px;
            padding: 0 15px 0 45px ;
            transition: width 2s;

            &:hover {
                width: 150px;
                flex: 4;
            }
            ::placeholder {
                color: white;
                font-style: italic;
            }
            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: white;
                font-style: italic;
            }
            ::-moz-placeholder { /* Firefox 19+ */
                color: white;
                font-style: italic;
            }
            :-ms-input-placeholder { /* IE 10+ */
                color: white;
                font-style: italic;
            }
            :-moz-placeholder { /* Firefox 18- */
                color: white;
                font-style: italic;
            }
            input {
                outline: none;
                border: none;
                color: white;
                background: transparent;
                width: 100%;
                
            }
        }
        .hamburger-icon {
            position: relative;
            top: 2px;
            right: 3px;
            margin-right: 20px;
        }
        .search-icon {
            position: relative;
            top: 2px;
            right: 3px;
            margin-right: 10px;
        }
    }
}


.fixed {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 50%;
    a {
        text-decoration: none;  
    }
    .cart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(#fa3579, #f24a3d);
        border-radius: 10px 0 0 10px;
        height: 90px;
        width: 90px;
        span{
            margin-top: 5px;
            height: 20px;
            width: 20px;
            background: #c0e1f9;
            color: #3c447f;
            border-radius: 50%; 
            line-height: 1.2;
            text-align: center;
            
        }
    }
    .chart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(199, 199, 199);
        border-radius: 10px 0 0 10px;
        height: 90px;
        width: 90px;
        span{
            margin-top: 5px;
            height: 20px;
            width: 20px;
            background: #5f608f;
            color: #dbdfe7;
            border-radius: 50%; 
            line-height: 1.2;
            text-align: center;
            
        }
    }
}

.jumbo {
    max-width: 1568px;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 992fr 575fr;
    grid-template-rows: 440px;
    @media screen and (max-width: 768px) {
        grid-template-rows: auto;
        grid-template-columns: 100%;  
    }

    .jumbo-slider {
        padding-left: 75px;
        display: grid;
        grid-template-columns: 4fr 6fr;
        @media screen and (max-width: 360px) {
            grid-template-columns: 100%;  
            grid-template-rows: auto;
        }
        align-items: center;
        background: #f7f7f7;
        box-shadow: 3px 3px 5px -1px rgba(168,168,168,1);
        .slide-description {
            align-self: start;
            padding-top: 55px;
            span {
                color: #f93676;
                font-size: 1.5rem;
            }
            h1 {
                color: #718097;
                font-size: 3.5rem;
                font-family: "Proxima Nova Bold";
                font-weight: bold;
            }
            p {
                margin: 15px 0 0 10px;
                color: #aeb6c2;
                font-size: 200%;
                strong {
                    color: #009ae2;
                }
            }
            .buttons {
                display: flex;
                margin-top: 45px;
                justify-content: flex-start;
                a {
                    text-decoration: none;
                    padding: 15px 50px;
                    border-radius: 50px;
                    text-transform: uppercase;
                }
                .button-buy {
                    background: linear-gradient(#fa3579, #f24a3d);
                    color: #fff;
                    margin-right: 25px;
                }
                .button-details {
                    color: #009ae2;
                    border: 2px solid #009ae2;
                }
            }

        }
        .slider-controls {
            position: relative;
            bottom: 40px;
            left: 400px;
            width: 150px;

            ul {
                display: flex;
                justify-content: space-around;
                li {
                    
                }
                li:hover {
           
                }
                a {

                    top: -5px;
                    width: 11px;
                    height: 11px;
                    margin: 0 4px;
                    position: relative;
                    border-radius: 100%;
                    display: inline-block;
                    background-color: rgba(0, 0, 0, 0.6);

                }
                a:hover, a:focus {
                    background-color: #009ae2;
                }
            }
        }
        .prev-slide, .next-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            position: relative;
            left: -420px;
            top: -200px;
            a {
                text-decoration: none;
                color: dodgerblue;
                font-size: 2rem;

            }
        }
        .next-slide {
            position: relative;
            left: 840px;
            top: -240px;

        }
    }
   
    .jumbo-promo {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        @media screen and (max-width: 768px) {
            grid-template-rows: repeat(2, 300px);
        }
        grid-row-gap: 10px;
        padding-right: 20px;
        h2 {
            color: #f93676;
            text-transform: uppercase;
            font-size: 1.3rem;
        }
        h3 {
            color: #718097;
            font-size: 1.3rem;
        }
        .jumbo-discount, .jumbo-gifts  {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 30px;
        }
        .jumbo-discount {
            background-color: #e7eaf1;
            background-image: url("../img/discount-cart.png"), ;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: 109% -70px; 
            background-size: 50% 100%;
        }
        .jumbo-gifts {
            background-color: #e7eaf1;
            background-image: url("../img/gtx-760.png");
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: 140% -50px; 
            background-size: 60% 120%;
        }
    }
}

.recommended {
    h2 {
        color: #718097;
        text-transform: uppercase;
        font-size: 2.60rem;
        font-family: "Proxima Nova Bold";
        margin-bottom: 40px;
        text-shadow: 1px 0 1px #98243b;
    }
    .items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 25px; 
        .item-card {
            box-shadow: 0 0 3px #e1e1e1;
            background: #fff;
            border-radius: 10px;
            border: 1px solid #e1e1e1;
            .card-head {
                padding: 15px;
                max-height: 270px;
            }
            .discount-bage {
                color: white;
                background: #5dd712;
                width: 32%;
                border-radius: 5px;
                text-align: center;
                padding: 10px 0;
                position: relative;
                left: 0px;
                top: 0px;
            }
            .item-description {
                font-size: 1rem;
                color: rgb(49, 49, 49);
                line-height: 1.25;
            }
            .stars {
                padding: 5px 15px;
                border-bottom: 0.4px solid #e1e1e1;
                border-top: 0.4px solid #e1e1e1;
                justify-content: space-between;
                align-items: flex-end;
                font-size: 0.725rem;
                color: rgb(204, 204, 204);
                min-height: 50px;
                span {
                    color: #000;  
                    font-size: 1.2rem;
                }
            }
            .price {
                display: flex;
                padding: 5px 15px;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                .price-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 120px;
                    .before{
                        color: #009ae2;
                        text-decoration: line-through;
                        margin-bottom: 10px;
                    }
                    .now {
                        color: #636363;
                        font-size: 1.2rem;
                        font-family: 'Proxima Nova Bold';
                        margin-bottom: 10px;
                    }
                    .discounted {
                        background: #009ae2;
                        font-size: 1.0rem;
                        color: #fff; 
                        padding: 0 5px;
                    }
                    .economy {
                        font-size: 0.7rem;
                        color: grey;
                    }
                }
                .item-info {
                    display: flex;
                    flex-direction: column;
                    a {
                        font-size: 0.8rem;
                    }
                    .addtocard {
                        text-decoration: none;
                        max-height: 40px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        padding: 5px;
                        border-radius: 10px;
                        background: linear-gradient(#fa3579, #f24a3d);
                        color: #fff;
                        img {
                            width: 25%;
                        }
                    }
                    .item-more-detail {
                        margin-top: 10px;
                        display: inline-block;
                        color: #009ae2;
                        text-align: right;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.partners {
    background: #150942;
    color: #fff;
    .container {
        position: relative;

    }
    h2 {
        font-family: "Proxima Nova Bold";
        text-transform: uppercase;
        margin-bottom: 30px;
        font-size: 2.60rem;
        text-shadow: 2px 0 1px #98243b;

    }
    .partners-slider {
        display: flex;
        justify-content: space-around;
        max-width: 100%;
        a {
            border-radius: 15px;
            background: #fff;
            padding: 45px;
            width: 18.5%;
            display: flex;
            align-items: center;
            justify-content: center;
            filter: grayscale(100%);
            &:hover {
                filter: grayscale(0%);
            }
        }
    }
    .prev-partner, .next-partner{
        position: relative;
        border: 1px solid #352f68;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            color: #f1f1f4;
            text-decoration: none;
        }
    }
    .next-partner {
        top: -170px;
        left: 1347px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;

    }
    .prev-partner {
        top: -140px;
        left: -20px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;

    }
}

.promotions {
    background: #150942;
    color: #fff;
    h2 {
        font-size: 2.60rem;
        font-family: "Proxima Nova Bold";
        text-transform: uppercase;
        margin-bottom: 20px;
        text-shadow: 2px 0 1px #98243b;

    }

    .promo-row {
        display: grid;
        grid-template-columns: 32fr 55fr 43fr;
        grid-template-rows: repeat(2, 190px);
        grid-gap: 25px;
    }
    .promo-box {
        border-radius: 15px;
        padding: 15px;
        img {
            display: block;
            position: relative;
        }
    }

    .raiting {
        display: flex;
        flex-direction: column;
        color: #fff;
        p {
            font-size: 0.55em;
        }
        .star {
            justify-content: space-between;
            width: 120px;
            color: rgb(204, 204, 204);
        }
        .item-description {
            width: 200px;
            margin-top: 15px;
            font-size: 2rem;
            line-height: 1.25;
        }
    }
    .promo-1 {

        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        background: #27ae61;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr 1fr;

        .raiting {
            align-self: flex-start;
            min-height: 80px;
            padding-bottom: 15px;
        }
        &> img {
            top: -50%;
            height: 120%;
            width: 150%;
        }
        
    }

    .promo-2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        background: #368f8d;
        display: flex;
        .raiting {
            align-self: flex-end;
        }
        &>img {
            height: 130%;
            top: -10%;
        }
    }
    .promo-3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        background: #355482;
        display: flex;
        &> img {
            height: 140%;
            top: -20%;
        }
        .raiting {
            align-self: flex-end;
        }
    }
    .promo-4 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        background: #ff526b;
        display: flex;
        flex-flow: column;
        .raiting {
            align-self: flex-start;
        }
        &>img {
            top: -10%;
         }
    }


}

.news-reviews {

    background: #150942;
    color: #fff;
    .tabs-search {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .search {
        display: flex;
        input {
            width: 330px;
            border-radius: 25px 0 0 25px;
            text-decoration: none;
            padding: .5rem .75rem;
            margin-bottom: 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.25;
            color: #464a4c;
            text-align: left;
            border: 1px solid rgba(0,0,0,.15);
        }
        a {
            border-radius: 0 25px 25px 0;
            text-decoration: none;
            padding: .5rem .75rem;
            margin-bottom: 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.25;
            color: #464a4c;
            text-align: center;
            border: 1px solid rgba(0,0,0,.15);
            background: linear-gradient(#fa3579, #f24a3d);
            color: #fff;
        }
    }
    .tabs {
        display: flex;
        justify-content: space-between;
        width: 40%;
        :first-child {
            font-family: "Proxima Nova Bold";
            color: #ff526b;
            text-decoration: underline;
        } 
    }
    .tab{
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
    }
    background: #150942;
    .news {
        justify-content: space-between;
        margin: 40px 0;
        .news-card {
            background: #fff;
            border-radius: 15px;
            width: 17%;
            min-height: 326px;
            font-size: 0.7rem;
            .news-description {
                padding: 20px;
                h4 {
                    font-size: 1rem;
                    color: #355482;
                    margin-bottom: 10px;
                    font-family: "Proxima Nova Bold";
                }
                p {
                    display: flex;
                    justify-content: space-between;
                    color: grey;
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .news-button {
        width: 220px;
        padding: 3px;
        border-radius: 25px;
        margin: 0 auto;
        overflow: hidden;
        background: linear-gradient(to bottom, #f93578 0%, #f24a3e 100%);
        a {
            display: block;
            border-radius: 25px;
            text-align: center;
            color: #fff;
            text-decoration: none;
            border-image-slice: 1;
            padding: 10px;
            background: #150942;
        }
    }
}

.our-shops {
    h2 {
        color: #718097;
        text-transform: uppercase;
        font-size: 2.60rem;
        font-family: "Proxima Nova Bold";
        margin-bottom: 40px;
        text-shadow: 1px 0 1px #98243b;
    }
    .shops {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 34px;
    }

    .time-location {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
    }
    .worktime, .shoplocation {
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            border: 1px solid #577096;
            border-radius: 50%;
            padding: 20px;
            margin-right: 10px;
        }
        p {
            color: gray;
        }
        a {
            margin-top: 10px;
            color: #10b3ef;
            text-align: left;
        }
        strong {
            color: rgb(87, 87, 87);
        }
    }
}

.footer {
    background: #363636;
    color: #fff;
    line-height: 1.6;
    .container {
        display: grid;
        grid-template-columns: 40fr 37fr 44fr;

    }
        a {
            text-decoration: none;    
            color: #fff;
        }
        
        .contacts {
            .tel {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                a {
                    font-family: 'Proxima Nova Bold';
                    font-size: 1.1rem;
                }
            }
            .tel-1 {
                border-right: 1px solid;
                border-image: linear-gradient(to bottom, #fa3579, #f24a3d) 1 100%;
                padding-right: 25px;
                a {
                    //border-image: linear-gradient(to bottom, #fa3579, #f24a3d) 0 0 0 100%;                
                }
            }                   
            .tel-2 {
                border-left: 1px solid;
                padding-left: 25px;
                border-image: linear-gradient(to bottom, #fa3579, #f24a3d) 1 100%;
                a {
                    //border-image: linear-gradient(to bottom, #fa3579, #f24a3d) 0 0 0 100%;                
                }
            }                   
            .call-me {
                background: linear-gradient(#fa3579, #f24a3d);
                color: #fff;
                text-decoration: none;
                padding: 10px 40px;
                margin: 10px 0;
                border-radius: 50px;
                display: block;
                width: 60%;
                text-align: center;
            }
            div p a {
            color: #0b96ca;
        }
    }
    .menues {
        display: flex;
        justify-content: center;
    }
    .menu-1 {
    }
    .menu-2 {
        margin-left: 20px;
    }
    .social {
        p {
            margin-bottom: 15px;
            text-align: justify;
        }
    }
    .social-icons{
        display: flex;
        justify-content: space-between;
    }
    .subscribe {
        margin-bottom: 40px;
        display: flex;
        input {
            width: 330px;
            border-radius: 25px 0 0 25px;
            text-decoration: none;
            padding: .5rem .75rem;
            margin-bottom: 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.25;
            color: #464a4c;
            text-align: left;
            border: 1px solid rgba(0,0,0,.15);
        }
        
        a {
            border-radius: 0 25px 25px 0;
            text-decoration: none;
            padding: .5rem .75rem;
            margin-bottom: 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.25;
            color: #464a4c;
            text-align: center;
            border: 1px solid rgba(0,0,0,.15);
            background: linear-gradient(#fa3579, #f24a3d);
            color: #fff;
        }
    }

    .aecadf {
        color: #aecadf;
    }
}
